.layout {
    display: flex;
}

.content-area {
    margin-top: 60px; /* Altura del navbar */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Permitir scroll si el contenido es grande */
}

