.dashboard {
    display: flex;
}

.sidebar {
    background-color: #332c2c;
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.logo-sidebar {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.user-info {
    margin-bottom: 20px;
}

.user-picture {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.help-button {
    position: fixed; /* Fixed positioning to keep it over other elements */
    bottom: 20px; /* 20px from the bottom */
    right: 20px; /* 20px from the right */
    border-radius: 50%; /* Circle shape */
    width: 50px; /* Width of the button */
    height: 50px; /* Height of the button, should be the same as width for a circle */
    background-color: #007bff; /* Bootstrap primary color */
    color: white; /* Text color */
    border: none; /* Remove border */
    box-shadow: 0 2px 5px rgba(0,0,0,.3); /* Optional: Add shadow for better visibility */
    z-index: 1050; /* Make sure it's above other fixed elements */
    display: flex; /* Use flexbox for centering the content */
    align-items: center; /* Align the content vertically */
    justify-content: center; /* Align the content horizontally */
    font-size: 24px; /* Adjust font size as needed */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

/* Adjustments for the content inside the button, in case you use an icon font like FontAwesome */
.help-button i {
    pointer-events: none; /* Ignore pointer events on icon to prevent issues with button interaction */
}
.user-name {
    text-align: center;
    color: white;
}

.menu-item {
    display: block;
    padding: 10px;
    color: white;
    border: none;
    background: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s;
}

.menu-item:hover {
    background: rgba(255, 255, 255, 0.1);
}

.submenu {
    list-style: none;
    padding-left: 20px;
    margin: 10px 0;
}

.submenu li {
    color: white;
    margin-bottom: 10px;
}

.main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    flex: 1;
    padding: 20px;
}
.main-content.expand {
    margin-left: 50px;
    width: calc(100% - 50px);
}
.dashboard-title {
    text-align: center;
    margin-bottom: 20px;
    color: #4A4A4A;
    text-transform: uppercase;
    font-weight: 700;
}

.data-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ajusta el número según la cantidad de resultados */
    gap: 20px;
}

.data-card {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.data-card h3 {
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.data-value {
    text-align: center;
    font-size: 24px; /* Ajusta según tu preferencia */
}

.advanced-section {
    margin-top: 40px;
}

.advanced-card {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.advanced-output {
    font-family: monospace;
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 5px;
}

.analysis-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.custom-file-upload {
    margin: 10px;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    text-align: center;
    display: inline-block;
}
.custom-file-upload input[type="file"] {
    display: none;
}

.download-template {
    margin: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.action-button {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
}
.action-button:hover {
    background-color: #0b7dda;
}

.type-selector {
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
#file-upload {
    display: none;
}



.toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1100;
    cursor: pointer;
    font-size: 24px;
    color: white;
}


.sidebar.closed {
    width: 50px;
}

.profile-section {
    display: none;
}

.menu-items.hide {
    display: none;
}

.icon {
    display: block;
}

@media (max-width: 768px) {
    .analysis-controls {
        flex-direction: column;
    }

    .custom-file-upload,
    .download-template,
    .type-selector,
    .action-button {
        width: 100%;
        margin-bottom: 10px;
    }
}