.details-table {
    width: 100%;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.details-table h2 {
    margin: 0;
    padding: 10px;
    background-color: #f5f5f5;
    text-align: center;
    color: #333;
    font-size: 1.2em;
}

.details-table table {
    width: 100%;
    border-collapse: collapse;
}

.details-table th,
.details-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #e0e0e0;
}

.details-table th {
    background-color: #f5f5f5;
    color: #333;
    font-weight: 500;
}

.data-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}