/* LayoutSideStyle.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    transition: width 0.3s;
}

.profile-section {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-section, .menu-items {
    transition: opacity 0.3s;
}

.sidebar.closed .profile-section,
.sidebar.closed .menu-items {
    opacity: 0;
    transition-delay: 0.3s;
}

/* Cuando el sidebar está abierto */
.sidebar:not(.closed) .profile-section,
.sidebar:not(.closed) .menu-items {
    opacity: 1;
    transition-delay: 0s;
}
.profile-image {
    width: 100px;
    height: 100px;
    background-color: #777;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-name {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.profile-lastName {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.menu-items {
    width: 100%;
}

.menu-item {
    width: 100%;
    padding: 15px 20px;
    font-size: 1.1em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.menu-item:hover {
    background-color: #555;
    transform: translateX(10px);
}


.sidebar.closed {
    width: 50px;
}

.menu-items.hide {
    display: none;
}


.toggle-button {
    position: absolute;
    top: 10px;
    right: -50px;
    z-index: 1100;
}