.password-recuperation--background{
    background: url('../../assets/recovery/Recovery-background.jfif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.password-recuperation--div{
    background-color: #ffffff;
    
    border-radius: 10px;
    width: 60%;
    height: 60%;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}
.password-recuperation--div {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    justify-items: center;
}
.password-recuperation--form{
    width: 100%;
}